* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navContainer {
    width: 100%;
    height: 94px;
    /* width: 1440px; */
    background: #FFF7E2;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Nav {
    display: flex;
    justify-content: space-between;
    width: 669px;
    height: 49px;
    
    margin-left: 20px;
    opacity: 0px;

}

.logo {
    /* color: #3A643B; */
    width: 259px;
    height: 49px;
}

.menus {

    font-family: DINPro;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: right;
    /* align-items: center; */
    align-self: center;
}

li a {
    color: #474747;
    text-decoration: none;
}

.menus li {
    list-style: none;
    /* text-decoration: none; */
    color: #474747;
    display: inline;
    width: 330px;
    height: 28px;
    /* gap: 40px; */
    opacity: 0px;
    margin-right: 20px;
    margin-left: 20px;
}

.menus li :active,
.menus li:hover {
    color: #3A643B;
    font-family: 'DINPro-Bold';
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: right;

}

.btnContainer {
    margin-right: 20px;
    color: #3A643B;

}

.signupBtn:hover,
.loginBtn:hover {
    color: #fff;
    background-color: #3A643B;
}

.signupBtn {

    width: 163px;
    height: 56px;
    border-radius: 11px;
    border: 1px solid #3A643B;
    padding: 16px, 39px, 20px, 39px;
    text-align: center;
    font-family: DINPro;
    font-size: 24px;
    font-weight: 500;
    line-height: 30.91px;
    
    background-color: #FFF7E2;
    
}

.loginBtn {
    border: 1px solid #3A643B;
    background-color: #FFF7E2;
    width: 118px;
    height: 56px;
    /* padding: 16px 39px 20px 39px; */
    /* gap: 10px; */
    margin-right: 10px;
    border-radius: 11px;
    font-width: 60px;
    font-family: DINPro;
    font-size: 24px;
    font-weight: 500;
    line-height: 30.91px;
    text-align:center;



}